body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    background-image: url('image/ifood.jpg'); /* Substitua pela imagem de fundo desejada */
    background-size: cover;
    background-position: center;
}

.background {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 10px;
}

.form-container, .label-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #ff0000;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #cc0000;
}

.label {
    text-align: left;
    margin-top: 20px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.order-details p {
    margin: 5px 0;
}
